.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 62px 24px;
  gap: 16px;
  list-style-type: none;
  background-color: #f5f6f7;
  align-self: center;
  align-items: center;
  max-width: 1280px;
  box-sizing: border-box;
}

@media screen and (max-width: 863px) {
  .cards {
    gap: 8px;
    padding: 32px 16px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    gap: 10px;
    padding: 0 16px;
    max-width: 320px;
  }
}
