@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../vendor/fonts/roboto-900.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../vendor/fonts/inter-400-regular.woff") format("woff");
}

.registered__content {
  padding: 43px 36px 51px;
  max-width: 430px;
  width: 100%;
  margin: 0 16px;
  box-sizing: border-box;
}

.registered__message {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.17;
  padding: 0;
  margin: 0 0 14px;
}

.registered__sign-in {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #2f71e5;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  transition: color 0.5s linear 0s;
  cursor: pointer;
}

.registered__sign-in:hover {
  color: #000;
}
